

.rojo {
    background-color: red;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.amarillo {
    background-color: yellow;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.verde {
    background-color: green;
    height: 100px;
    width: 100px;
    border-radius: 50%;
}

.light-body {
    background-color: black;
    height: 350px;
    width:125px;
    border-radius: 10px;
    margin-top: 60px;
}



.selected-green {
    box-shadow: 0px 0px 50px 15px rgb(195, 255, 195);
}

.selected-yellow {
    box-shadow: 0px 0px 50px 15px rgb(255, 255, 178);
}

.selected-red {
    box-shadow: 0px 0px 50px 15px rgb(255, 195, 195);
}

